[Desktop Entry]
Name=Pods
Exec=/home/mobian/bin/start_pods.sh
Path=/home/mobian/bin/
Type=Application
Icon=/home/mobian/bin/icon.png
Comment=Subscribe, download and stream podcasts
Keywords=Sound;Podcast;podcasts;
Categories=Audio;
