[Desktop Entry]
Name=Pods
# run using X11 see issue #33
Exec=env WINIT_UNIX_BACKEND=x11 /home/manjaro/.local/bin/pods
# working directory
Path=/home/manjaro/.local/share/pods
Type=Application
Icon=/home/manjaro/.local/share/icons/icon.png
Comment=Subscribe, download and stream podcasts
Keywords=Sound;Podcast;podcasts;
Categories=Audio;
